{% extends 'base.html.twig' %}

{% block title %}Accueil: Musée du Louvre{% endblock %}

    {% block section %}

        <div class="paragraph">
            <h4><strong>Le musée en quelques mots</strong></h4>
            <p>
                Le musée du Louvre, inauguré en 1793 sous l'appellation Muséum central des arts de la République dans le palais du Louvre, ancienne résidence royale située au centre de Paris, est aujourd'hui le plus grand musée d'art et d'antiquités au monde. Sa surface d'exposition est de 72 735 m27.

                Fin 2016, ses collections comprenaient 554 731 œuvres, dont 35 000 exposées et 264 486 œuvres graphiques. Celles-ci présentent l'art occidental du Moyen Âge à 1848, celui des civilisations antiques qui l'ont précédé et influencé (orientales, égyptienne, grecque, étrusque et romaine), les arts des premiers chrétiens et de l'Islam.

                Situé dans le 1er arrondissement de Paris, sur la rive droite entre la Seine et la rue de Rivoli, le musée se signale par la pyramide de verre de son hall d'accueil, érigée en 1989 dans la cour Napoléon et qui en est devenue emblématique, tandis que la statue équestre de Louis XIV constitue le point de départ de l'axe historique parisien.

                En 2017, avec environ 8,1 millions de visiteurs annuels, le Louvre est le musée le plus visité au monde. Il est le site culturel payant le plus visité de France. Parmi ses pièces les plus célèbres figurent La Joconde, la Vénus de Milo, Le Scribe accroupi, La Victoire de Samothrace et le Code de Hammurabi.

                Le Louvre possède une longue histoire de conservation artistique et historique, depuis l'Ancien Régime jusqu'à nos jours. À la suite du départ de Louis XIV pour le château de Versailles à la fin du xviie siècle, on y entrepose une partie des collections royales de tableaux et de sculptures antiques. Après avoir durant un siècle hébergé plusieurs académies dont celle de peinture et de sculpture, ainsi que divers artistes logés par le roi, l'ancien palais royal est véritablement transformé sous la Révolution en « Muséum central des arts de la République ». Il ouvre en 1793 en exposant environ 660 œuvres, essentiellement issues des collections royales ou confisquées chez des nobles émigrés ou dans des églises. Par la suite les collections ne cesseront de s'enrichir par des prises de guerre, acquisitions, mécénats, legs, donations, et découvertes archéologiques.

                Le musée compte pour sa gestion 2 091 employés (fonctionnaires, contractuels et vacataires), dont 1 232 agents de surveillance, un garde pour chacune des 403 salles d’exposition, que complètent les effectifs affectés aux 900 caméras du système de télésurveillance8.
            </p>
            <h4><strong>Bibliographie</strong></h4>
            <p>
                Pierre Descargues, Un certain Louvre, Paris, Adam Biro, 2003
                Louis Hautecœur, Histoire du Louvre - Le château - Le palais - Le musée - des origines à nos jours 1200 - 1918, L'Illustration, Paris, 1929 (lire en ligne) [archive]
                Alexandre Tuetey et Jean Guiffrey, La Commission du muséum et la création du Musée du Louvre (1792-1793), Paris, 1910 ; p. 481
                (lire en ligne) [archive]

                La naissance du Musée du Louvre. La politique muséologique sous la Révolution d'après les archives des musées nationaux, Éditions de la Réunion des musées nationaux, 1981
                Louis Tuetey, Procès-verbaux de la Commission temporaire des arts. 1er septembre 1793-30 frimaire an III, tome 1, Imprimerie nationale, Paris, 1912 (lire en ligne) [archive]
                Louis Tuetey, Procès-verbaux de la Commission temporaire des arts. 5 nivôse an III-5 nivôse an IV, tome 2, Imprimerie nationale, Paris, 1917 (lire en ligne) [archive]
                Sous la direction de Vincent Pomarède, 1001 peintures au Louvre, de l’Antiquité au xixe siècle, Musée du Louvre Éditions, 2005, (ISBN 2-35031-032-9)
                Jean Galard : Promenades au Louvre, En compagnie d'écrivains, d'artistes et de critiques d'art ; Présentation de 700 chefs-d’œuvre du musée, éd. Robert Laffont, 2010
                Gabrielle Bartz et Eberhard König, Le Musée du Louvre, éditions Place des Victoires, Paris, 2005.
                Pierre Rosenberg, Dictionnaire amoureux du Louvre, Plon, Paris, 2007 (ISBN 978-2-259-20403-3) ; p. 958
                Daniel Soulié, Le Louvre pour les Nuls, Musée du Louvre éditions, First éditions, Paris, 2010 (ISBN 978-2-35031-272-9) ; p. 441
                Ariane Warlin, La Face cachée du Louvre, éditions Michalon, 2012
                Georges Poisson, La Grande histoire du Louvre, Perrin, 2013, 479 p.
                Jean-Jacques Breton, Le Louvre insolite, l'autre visage des œuvres, Hugo Image, 2013, 287 p.
                Geneviève Bresc-Bautier (dir.), Histoire du Louvre, trois volumes, Louvre éditions / Fayard, 2016.
            </p>
        </div>


    {% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
